/* Base styling for the body element */
body {
    font-family: Arial, sans-serif; /* Set the default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #f4f4f4; /* Set background color */
}

/* Styling for the header element */
header {
    position: relative; /* Set position to relative for child absolute positioning */
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    text-align: center; /* Center the text */
    padding: 1rem 0 0 0; /* Set padding */
    z-index: 9999; /* Set z-index to ensure it's on top */
}

/* Styling for the h1 element inside the header */
header h1 {
    height: 30px; /* Set height */
    line-height: 30px; /* Set line height for vertical alignment */
    margin: 0; /* Remove default margin */
}

/* Styling for the unordered list inside the navigation */
nav ul {
    padding: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
    overflow: hidden; /* Hide overflow content */
}

/* Styling for list items inside the navigation unordered list */
nav ul li {
    display: inline; /* Display list items inline */
    margin-right: -5px; /* Set right margin */
}

/* Styling for anchor tags inside the navigation list items */
nav ul li a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* Set text color */
    transition: color 0.3s; /* Transition effect for color change */
}

/* Styling for anchor tags inside the navigation list items on hover */
nav ul li a:hover {
    color: #ddd; /* Change text color on hover */
}

/* Base styling for section elements */
section {
    margin: 20px auto; /* Set margin */
    padding: 20px 40px 20px 40px; /* Set padding */
    background-color: #fff; /* Set background color */
    border-radius: 10px; /* Set border radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    max-width: 800px; /* Set maximum width */
    animation: fadeIn 1.5s; /* Add fade-in animation */
}

/* Styling for h2 elements inside sections */
section h2 {
    position: relative; /* Set position to relative for child absolute positioning */
    display: inline-block; /* Display as inline-block */
    margin-top: 20px; /* Set top margin */
}

/* Styling for the pseudo-element after h2 elements inside sections */
section h2::after {
    content: ""; /* Set content to empty */
    position: absolute; /* Set position to absolute */
    left: 0; /* Set left position */
    right: 0; /* Set right position */
    height: 6px; /* Set height */
    background-color: #80E7E8; /* Set background color */
    z-index: -1; /* Place it below the h2 element */
}

/* Adjust the position of the pseudo-element for Japanese language sections */
.lang-ja section h2::after {
    bottom: 5px; /* Adjust bottom position */
}

/* Adjust the position of the pseudo-element for English language sections */
.lang-en section h2::after {
    bottom: 1px; /* Adjust bottom position */
}

/* Styling for h2 elements inside the contact section */
section#contact h2 {
    margin-bottom: 20px; /* Set bottom margin */
}

/* Base styling for contact icons */
.contact-icons {
    margin-bottom: 20px; /* Set bottom margin */
}

/* Styling for h3 elements inside sections */
section h3 {
    margin: 0; /* Remove default margin */
}

/* Styling for paragraph elements inside sections */
section p {
    margin: 0; /* Remove default margin */
    margin-top: 20px; /* Set top margin */
    margin-bottom: 20px; /* Set bottom margin */
}

/* Styling for the last unordered list inside sections */
section ul:last-of-type {
    margin-bottom: 20px; /* Set bottom margin */
}

/* Base styling for the footer */
footer {
    text-align: center; /* Center the text */
    padding: 1rem 0; /* Set padding */
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
}

/* Styling for buttons inside the navigation list items */
nav ul li button {
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    height: 40px; /* Set height */
    padding: 10px 20px; /* Set padding */
    cursor: pointer; /* Set cursor to pointer */
    transition: background-color 0.3s; /* Transition effect for background color change */
}

/* Styling for buttons inside the
